<% layout('/layouts/boilerplate') -%>


    <h3>All listings</h3>
    <!-- <form method="get" action="/listings/new">
            <button type="submit">Create new Listing</button>
        </form> -->

    <div class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let item of allListing) { %>
            <a href="/listings/<%= item._id %>" class="listing-link">
                <div class="listing-card card col">
                    <img src="<%= item.image.url %>" class="card-img-top" alt="..." style="height: 20rem;">
                    <div class="card-img-overlay">surajit</div>
                    <div class="card-body">
                        <p class="card-text">
                            <b> <%= item.title %></b>
                            <br> &#8377;
                            <%= item.price.toLocaleString("en-IN") %>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>