<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">

                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <h3 class="mb-4">Create a New Listing</h3>

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input id="title" name="listing[title]" class="form-control" placeholder="Enter title" type="text" required />
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter description" required></textarea>
                        <div class="invalid-feedback">
                            Please provide a valid description .
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image Uplode</label>
                        <input id="image" name="listing[image]" class="form-control" type="file" />
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input id="price" name="listing[price]" class="form-control" placeholder="Enter price" required />
                            <div class="invalid-feedback">
                                Please provide a valid Price.
                            </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input id="country" name="listing[country]" class="form-control" required placeholder="Enter country" type="text" />
                            <div class="invalid-feedback">
                                Please provide a valid country.
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input id="location" name="listing[location]" required class="form-control" placeholder="Enter location" type="text" />
                        <div class="invalid-feedback">
                            Please provide a valid Location.
                        </div>
                    </div>

                    <button class="btn btn-dark mt-3 add-btn" type="submit">Add</button>
                </form>

            </div>
        </div>
    </body>